<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ viteCSS "src/main.ts" }}
    {{ .InertiaHead }}
  </head>
  <body>
    {{ .InertiaRoot }}
    <script type="module" src='{{ vite "src/main.ts" }}'></script>
  </body>
</html>
